@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-weight: bold;
  color: theme('colors.spotifyGreen');
}

body {
  background-color: theme('colors.spotifyBlack');
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

.css-16bv6s4-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid white; 
}

.homepage-header {
  -webkit-text-stroke: 5px theme('colors.spotifyGreen');
}

@media screen and (min-width: 1024px) {
  .homepage-header {
    -webkit-text-stroke: 7px theme('colors.spotifyGreen');
  }
}

.main-text {
  -webkit-mask-image: url('../images/mask.png');
  mask-image: url('../images/mask.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 75%;
  mask-size: 75%;
  -webkit-mask-position: center;
  mask-position: center;
}
